<div class="row">
    <div class="col">
        <div class="card" style="flex-direction: row;">
            <div class="profile-img" style="width: 25%;">
                <img src="{{userData.image}}" alt="Profile-image" style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body" style="width: 75%;">
                <h5 class="card-title">{{userData.name}}</h5>
                <p class="card-text">{{userData.email}}</p>
                {{#ifCond user.id userData.id}}
                <a href="/users/{{userData.id}}/edit" class="btn btn-primary">edit</a>
                {{/ifCond}}
            </div>
        </div>
    </div>
</div>